.flex_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex_left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.hidden{
    display: none;
}

.button{
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(107, 203, 245);
    border-radius: 10px;
    border: 2px solid black;
    min-width: 100px;
}

.button:hover{
    cursor: pointer;
}

.quiz-container{
    margin: 10px auto;
    padding: 0 20px;
    border: 2px solid black;
    min-height: 350px;
    min-width: 100px;
    width: 80%;
}

.italic{
    font-style: italic;
    letter-spacing: 0.5px;
}

#atsakymai{
    align-items: start;
    gap: 50px;
    font-size: 18px;
}

.to_check_box{
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 20px;
    height: 20px;
    content: none;
    outline: none;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .ats_konteineris{
    display: flex;
    align-items: center;
    justify-content: left;
 }
 
 .to_check_box:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border: none;
 }
 
 .to_check_box:checked::before{
   position: absolute;
   color: green !important;
   content: "\00A0\2713\00A0" !important;
   border: 1px solid #d3d3d3;
   font-weight: bolder;
   font-size: 15px;
 }

 .kl_blokas{
    position: relative;
    width: 50%;
 }

 .ats_blokas{
    position: relative;
    width: 50%;
 }


 .atsakymas{
    margin-left: 10px;
    line-height: 2rem;
 }

 .teisingai{
    position: absolute;
    top: -80px;
    left: 50px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(37, 151, 37);
 }

 .neteisingai{
    position: absolute;
    top: -80px;
    left: 50px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(180, 32, 32);
 }

 .teisingas_ats{
    position: absolute;
    top: -50px;
    left: 50px;
    font-size: 1em;
    text-transform: lowercase;
 }

 .ivertinimas{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
 }

 .nepasirinktas_ats{
    position: absolute;
    top: -50px;
    left: 50px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(180, 32, 32);
 }

 .patenkinamai{
    text-align: center;
    margin-top: 200px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(37, 151, 37);
 }

 .nepatenkinamai{
    text-align: center;
    margin-top: 200px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(180, 32, 32);
 }


